<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyyee.sps.mapper.primary.EmployeeMapper">

  <resultMap id="BaseResultMap" type="com.kyyee.sps.model.primary.Employee">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="age" jdbcType="INTEGER" property="age"/>
    <result column="org_ids" jdbcType="OTHER" property="orgIds"
            javaType="java.util.ArrayList" typeHandler="com.kyyee.sps.mapper.primary.handler.ListLongHandler"/>
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
    <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    <result column="deleted" jdbcType="SMALLINT" property="deleted"/>
    <result column="version" jdbcType="INTEGER" property="version"/>
  </resultMap>

  <sql id="Base_Column_Alias">
    id,
    name,
    age,
    org_ids,
    create_at,
    update_at,
    create_by,
    update_by,
    deleted,
    version
  </sql>

  <sql id="Example_Where_Clause">
    <trim prefixOverrides="AND | OR">
      <if test="keyword != null and keyword != ''">
        and concat_ws('¿', name) LIKE #{keyword} ESCAPE '¿'
      </if>
      <if test="age != null">
        and disposition_status = #{age}
      </if>
      <if test="orgIds != null and orgIds.size() > 0">
        and org_ids @&gt; #{orgIds,typeHandler=com.kyyee.sps.mapper.primary.handler.ListLongHandler}
      </if>
      <if test="beginTime != null and endTime != null">
        and (
        (create_at between #{beginTime} and #{endTime})
        or
        (update_at between #{beginTime} and #{endTime})
        or
        (create_at &lt;= #{beginTime} and update_at &gt;= #{endTime})
        )
      </if>
      and deleted=0
    </trim>
  </sql>

  <select id="selectByParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_Alias"/>
    from employee
    <if test="_parameter != null">
      <where>
        <include refid="Example_Where_Clause"/>
      </where>
    </if>
  </select>
</mapper>
